body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#header .buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: gray;
    width: 90%;
    height: 3rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#header button {
    width: 10rem;
}

#sketchpad {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vw;
    height: 80vw;
    width: 80vw;
    border-style: solid;
    border-width: 4px;
    border-color: black;
}

#sketchpad .row {
    flex: 1;
}

#sketchpad .column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hovered {
    background-color: black;
}